/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin: 24px;
  padding: 0px;
}

.gallery-item {
  list-style-type: none;
  max-height: 200px;
}

.gallery-image {
  width: 360px;
  height: 100%;
}

.gallery-image:hover {
  width: 376px;
  height: 208px;
}

.feedback-form {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #2E2F42;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 408px;
  padding: 24px;
  
}

label {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 360px;
}

input,
textarea {
  width: 360px;
  border: 1px solid #808080;
  border-radius: 4px;
}

button {
  width: 95px;
  height: 40px;
  color: #FFFFFF;
  background-color: #4E75FF;
  border: #4E75FF;
  border-radius: 8px;
  font-size: 16px;
}
